// COLORS
$black4A: #0000004a;
$black1: #111;
$black3: #333333;
$whiteFFF: #fff;
$white54: #FFFFFF54;
$gold:#BEAD8E;
$goldDark: #AD9D82;

// FONTS
$roboto: "Roboto", sans-serif;
$old: "Old Standard TT", serif;
