@import "./mixins";
@import "./variables";
@import "common/header";
@import "home/info";
@import "home/aboutUs";
@import "home/rooms";
@import "home/video";
@import "home/facilities";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-width: 320px;
}
